<span class="tumblr-title">
  {{#if postsRoute}}
    {{#link-to postsRoute post.id}}
      {{post.title}}
    {{/link-to}}
  {{else}}
    {{post.title}}
  {{/if}}
</span>

<span class="tumblr-date">{{post.date}}</span>

<div class="tumblr-body">
  {{{post.body}}}
</div>